---
import DefaultLayout from "@layout/DefaultLayout.astro";
import BannerCover from "@comp/blog/BannerCover.astro";
import ToolBar from "@comp/ToolBar.astro";
import Toc from "@comp/blog/Toc.astro";

import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";

// Styles
import "@style/markdown.scss";

interface Props {
  entry: CollectionEntry<"posts">;
}

export async function getStaticPaths() {
  const postsEntries = await getCollection("posts");

  return postsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { title, cover, date, tags } = entry.data;
---

<DefaultLayout>
  <ToolBar />

  <BannerCover data={{ cover, date }} />
  <div class="wrapper">
    <Toc data={headings} />

    <article class="markdown-body">
      <h1>{title}</h1>
      <div class="mate-wrapper">
        <p class="date">发布于：{date}</p>
        {tags.map((tag: string) => <a class="tag">{tag}</a>)}
      </div>
      <Content />
    </article>
  </div>
</DefaultLayout>

<style lang="scss">
.wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 64px;

  @media (max-width: 768px) {
    padding: 32px 24px;
  }

  .markdown-body {
    max-width: 800px;
    overflow: hidden;
  }
}

.mate-wrapper {
  display: flex;
  align-items: center;
  padding-bottom: 16px;
  font-size: 12px;
  color: var(--font-subtitle-color);
  overflow: hidden;

  .date {
    margin: 0;
    margin-right: 24px;
  }

  .tag {
    margin-right: 12px;
    padding: 4px 0;
    text-transform: uppercase;
    border-bottom: 1px dashed var(--border-color);
    transition: all 0.2s;
    cursor: pointer;

    &:first-of-type {
      margin-left: 0;
    }

    &:hover {
      color: var(--primary);
      border-bottom: 1px solid;
    }
  }
}
</style>
