---
import DefaultLayout from '@/layouts/DefaultLayout.astro'
import PostMate from '@/components/blog/PostMate.astro'
import ToolBar from '@/components/ToolBar.astro'
import Toc from '@/components/blog/Toc.astro'

import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'

// Styles
import '@/styles/markdown.scss'

interface Props {
  entry: CollectionEntry<'posts'>
}

export async function getStaticPaths() {
  const postsEntries = await getCollection('posts')

  return postsEntries.map((entry) => ({
    params: { slug: entry.slug },
    props: { entry },
  }))
}

const { entry } = Astro.props
const { Content, headings } = await entry.render()
const { title, cover, date, tags } = entry.data
---

<DefaultLayout>
  <ToolBar />

  <PostMate data={{ cover, date }} />
  <div class="wrapper">
    <Toc data={headings} />

    <article class="markdown-body">
      <main>
        <h1>{title}</h1>
        <Content />
      </main>
      <section class="tags">
        {tags.map((tag: string) => <a class="tag">{tag}</a>)}
      </section>
    </article>
  </div>
</DefaultLayout>

<style lang="scss">
  .wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 64px;

    @media (max-width: 768px) {
      padding: 0 24px;
    }
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
    overflow: hidden;
  }

  .tags {
    margin: 42px 0;
    padding: 24px 0;
    border-top: 1px dashed var(--border-color);

    .tag {
      margin: 8px;
      padding: 6px 12px;
      font-size: 12px;
      text-transform: uppercase;
      background-color: var(--bg-card-color);
      border-radius: 6px;
      cursor: default;

      &:first-of-type {
        margin-left: 0;
      }
    }
  }
</style>
