/* Light scheme (Default) */
/* Can be forced with class="light" */
.light,
:root:not(.dark) {
  --bg-color-1: hsl(210, 16%, 100%);
  --bg-color-2: hsl(210, 16%, 98%);
  --bg-color-3: hsl(210, 16%, 97%);
  --bg-color-4: hsl(210, 16%, 95%);

  --font-color-1: hsl(210, 16%, 20%);
  --font-color-2: hsl(210, 16%, 32%);
  --font-color-3: hsl(210, 16%, 42%);
  --font-color-4: hsl(210, 16%, 50%);
}

/* Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media (prefers-color-scheme: dark) {
  :root:not(.light) {
    --bg-color-1: hsl(210, 5%, 8%);
    --bg-color-2: hsl(210, 5%, 10%);
    --bg-color-3: hsl(210, 5%, 14%);
    --bg-color-4: hsl(210, 5%, 14%);
  
    --font-color-1: hsl(210, 16%, 78%);
    --font-color-2: hsl(210, 16%, 64%);
    --font-color-3: hsl(210, 16%, 50%);
    --font-color-4: hsl(210, 16%, 34%);
  }
}

/* Dark scheme (Forced) */
/* Enabled if forced with class="dark" */
.dark {
  --bg-color-1: hsl(210, 5%, 8%);
  --bg-color-2: hsl(210, 5%, 10%);
  --bg-color-3: hsl(210, 5%, 14%);
  --bg-color-4: hsl(210, 5%, 14%);

  --font-color-1: hsl(210, 16%, 78%);
  --font-color-2: hsl(210, 16%, 64%);
  --font-color-3: hsl(210, 16%, 50%);
  --font-color-4: hsl(210, 16%, 34%);
}

/* (Common styles) */
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(210, 16%, 19%);
}

// Scrollbar style.
// Reset user proxy style for browser scrollbar.
.dark ::-webkit-scrollbar-thumb {
  background-color: rgb(50, 50, 50);
}
::-webkit-scrollbar {
  background-color: transparent;
  height: 12px;
  width: 12px;
}
::-webkit-scrollbar-corner {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  transition: background 0.2s ease-in-out;
  border: 3px solid transparent;
  -webkit-background-clip: content-box;
  background-clip: content-box;
  background-color: rgb(229, 231, 235);
  border-radius: 9999px;
}

// Selection style.
// When user select text with will change selected text background color.
.dark {
  --selection-bg-color: hsla(245, 58%, 51%, 0.4);
}
::selection {
  background: var(--selection-bg-color, #e0e7ff);
  color: inherit;
}
::-moz-selection {
  background: var(--selection-bg-color, #e0e7ff);
  color: inherit;
}
::-webkit-selection {
  background: var(--selection-bg-color, #e0e7ff);
  color: inherit;
}

// .night is dark mode for img.
.dark .night {
  background-color: hsla(223deg, 71%, 16%, 0.6);
  background-blend-mode: darken;
  filter: brightness(80%) grayscale(20%) contrast(1.2);
}
