<button class="btn-back">
  <svg
    width="28"
    height="28"
    viewBox="0 0 48 48"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      d="M12 23.992h24M24 36L12 24l12-12"
      stroke="currentColor"
      stroke-width="4"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
</button>

<script is:inline>
const goBack = () => window.history.back()
const backBtn = document.querySelector('.btn-back')

backBtn?.addEventListener('click', goBack)
</script>

<style lang="scss">
  .btn-back {
    width: 40px;
    height: 40px;
    padding: 6px;
    border: none;
    border-radius: 50%;
    color: currentColor;
    background-color: transparent;

    &:hover {
      background-color: var(--hover-color);
    }
  }
</style>
