---
import DefaultLayout  from '@/layouts/DefaultLayout.astro'
import ToolBar        from '@/components/ToolBar.astro'
import FindMe         from '@/components/index/FindMe.astro'
import ShowProjects   from '@/components/index/ShowProjects.astro'
import ShowBlogs      from '@/components/index/ShowBlogs.astro'

import config from '@/config'

const { name, info } = config
---

<DefaultLayout>
  <ToolBar />
  <header>
    <h1 class="name">{name}</h1>
    <div class="info">{info}</div>
    <FindMe />
  </header>

  <main>
    <ShowProjects />
    <ShowBlogs />
  </main>
</DefaultLayout>
