---
import DefaultLayout  from '@layout/DefaultLayout.astro'
import ToolBar        from '@comp/ToolBar.astro'
import FindMe         from '@comp/home/FindMe.astro'
// import ShowProjects   from '@comp/home/ShowProjects.vue'
import ShowProjects   from '@comp/home/ShowProjects.astro'
import ShowBlogs      from '@comp/home/ShowBlogs.astro'

import config from '@config'

const { name, info } = config
---

<DefaultLayout>
  <ToolBar />
  <header>
    <h1 class="name">{name}</h1>
    <div class="info">{info}</div>
    <FindMe />
  </header>

  <main>
    <ShowProjects />
    <ShowBlogs />
  </main>
</DefaultLayout>
