---
import DefaultLayout  from '../layouts/DefaultLayout.astro'
import ToggleTheme    from '@components/ToggleTheme.vue'
import FindMe         from '@components/index/FindMe.vue'
import ShowProjects   from '@components/index/ShowProjects.vue'
import ShowBlogs      from '@components/index/ShowBlogs.vue'

import CONFIG from '@/config'
import '@styles/index.scss'

const { name, info, title } = CONFIG
---

<DefaultLayout title={title}>
  <ToggleTheme client:only="vue" />
  <header>
    <h1 class="greeting">{name}</h1>
    <div class="info">{info}</div>
    <FindMe />
  </header>

  <main>
    <ShowProjects />
    <ShowBlogs />
  </main>
</DefaultLayout>
