---
import { supabase } from '@api/supabase'

async function getFindmeList() {
  return await supabase.from('findme').select('*')
}
---

<ul class="find-me">
  {
    getFindmeList().then(({data}) => {
      return data!.map((item) => (
        <li>
          <a href={item.url}>
            <div class="icon" set:html={item.icon} />
            {item.name && <div class="text">{item.name}</div>}
          </a>
        </li>
      ))
    })
  }
</ul>

<style lang="scss">
.find-me {
  padding: 0;
  list-style: none;
  overflow: hidden;

  li {
    float: left;
    padding: 8px 14px;
    margin: 10px 10px 0 0;
    border-radius: 6px;
    background-color: var(--bg-card-color);
  }

  a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  width: 20px;
  height: 20px;
  font-size: 0;
}

.text {
  margin-left: 5px;
}
</style>
