---
import '@/styles/index.scss'
import config from '@/config'

const { title } = Astro.props
---

<!DOCTYPE html>
<html lang="zh_CN">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="默小言的空间, 2113ic" />
    <meta name="description" content="恶龙的咆哮~">
    <meta name="author" content="默小言 | 2113ic">
    <link rel="shortcut icon" href="/logo.png" type="image/x-icon" />
    <link rel="preload" href="/font/LXGWZhenKai.woff2" as="font" type="font/woff2">
    <title>{title || config.title}</title>

    <script>
      ;(function initTheme() {
        const html = document.documentElement
        const storedTheme = localStorage.getItem('theme')
        const systemTheme = window.matchMedia(
          '(prefers-color-scheme: dark)'
        ).matches
        const applyTheme = storedTheme || (systemTheme ? 'dark' : 'light')

        localStorage.setItem('theme', applyTheme)
        html.setAttribute('theme', applyTheme)
      })()
    </script>
  </head>
  <body>
    <slot />
  </body>
</html>
